@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    height: 100%;
    width: 240px;
    position: absolute;
    background-color: #DFEAE2;
    transition: 0.5s ease;
    z-index: 1;
}

.hidden {
    transform: translateX(-240px);
}

ul {
    padding: 0px;
    margin: 0px;
}

ul li{
    list-style: none;
}

ul li a{
    color: white;
    background-color: #207567; 
    font-weight: 300;
    padding: 5px 10px;
    margin: 10px 20px;
    display: flex;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease;
    align-items: center;
    justify-content: left;
    font: 300;
    font-size: 20px;
    border-radius: 16px;
}

ul li a:hover {
    transform: scale(1.1,1.1);
}

ul li a i {
    margin-right: 6px;
}

.logo {
    position: relative;
}

.logo img {
    max-width: 200px;
    margin: 10px 20px;
}

.topright {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
}

.main {
    transition: 0.5s ease;
}

.topbar {
    background-color: #DFEAE2;
    height: 45px;
}

.showSidebar {
    font-size: 36px;
    background-color: #DFEAE2;
    border: none;
}

.showSidebar:hover {
    cursor: pointer;
}